* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

ul {
  list-style: none;
  border: 1px solid black;
  background-color: rgb(173, 173, 173);
  border-radius: 4px;
}

h1 {
  cursor: pointer;
}

li {
  cursor: pointer;
  border-top: 1px solid black;
  padding: 3px 0 3px 0;
  transition: all 0.2s ease;
}

li:first-child {
  border-top: none;
}

li:hover {
  background-color: aqua;
  opacity: 0.5;
}

.images {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

img {
  width: 300px;
  height: auto;
  display: none;
}

.active {
  display: block;
}

.active_list {
  background-color: aqua;
  border-radius: 4px;
}

.buttons {
  display: flex;
  margin-top: 20px;
}

.text {
  display: flex;
  margin-top: 20px;
}
