* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

h1 {
  cursor: pointer;
}

li {
  cursor: pointer;
  margin-top: 3px;
}

.images {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

img {
  width: 300px;
  height: auto;
  display: none;
}

.active {
  display: block;
}

.buttons {
  display: flex;
  margin-top: 20px;
}

.text {
  display: flex;
  margin-top: 20px;
}
